:root {
  font: 16px / 1 verdana;
  text-shadow: 0.5px 0.5px #000000af;
}

html {
  height: 100%;
}

body {
  margin: 0;
  max-height: 100%;
  background-color: #fafafa;
  background-image: repeating-linear-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    Indigo,
    Violet
  );
}

h1 {
  justify-content: center;
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
}

h4 {
  justify-content: center;
  display: flex;
}

h5 {
  justify-content: center;
  display: flex;
}

.colorBox {
  padding: 3rem;
  font-size: 20px;
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

article {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
